/*FULL PAGE BODY  */
body {
    height: auto;
    width: 100%;
    margin: 0px;

}

li {
    text-decoration: none;
    list-style: none;
}

/* BODY HEADER PART */
header {
    background-image: url(Images/anthony-garand-5sT07dJl65s-unsplash.jpg);
    height: 75vh;
    width: 100%;
    border-radius: 1.5px;
    background-size: contain;
    background-position: center;
    /* opacity: 0.9; */
    background-attachment: fixed;
    /* text-align: center; */
    background-repeat: no-repeat;
}

/* NAVBAR */
header nav {
    opacity: 10;
    text-align: center;
}

/* LIST UNDER NAVBAR */
#navbar li {
    display: inline-block;
    margin: 10px 18px 18px 10px;
}

/* LIST UNDER NAVBAR */
#navbar li a {
    color: #5004ff;
}

.ul-list {
    padding-left: 0px;
}

/* hover  */
#navbar .ul-list a:hover {
    background-color: yellow;
    box-shadow: 0px 0px 8px 4px #3C1874;
    border-radius: 4px;
}


/* ALL ANCHER TAG */
a {
    text-decoration: none;
    transition-duration: 0.8s;
}



/* HOME PAGE */
.home {
    height: auto;
    width: 100%;
    position: relative;
}

.home-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-flex div {
    height: auto;

}

.home-text {
    height: auto;
    width: 100px;
    overflow: auto;

}

.my-img {
    border-radius: 132px;
    border: 2px solid rgb(139, 60, 223);
    height: 16rem;
    width: 16rem;
    margin: auto;
    margin-top: -20vh;
}

.my-img img {
    height: 100%;
    width: 100%;
    border-radius: 40rem;


}

.home .my-img img:hover {
    box-shadow: 0px 0px 8px 4px rgb(226, 255, 228);
    transition-duration: 0.6s;
}


/* HOME IMAGE */
#home-image {
    height: auto;
    width: 50vw;
}

#home-image img {
    height: auto;
    width: 100%;
    opacity: 0.8;
    border-radius: 20px 20px;
}

/* SKILL SECTION */
#skill-section {
    height: auto;
    width: 100%;
}

.skill {
    height: auto;
    width: 100%;
    margin: 4px;
}

.skill-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-display {
    height: auto;
    width: 100%;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}

.skill-container:nth-child(even) {
    background-color: rgb(43, 45, 44);
    color: white;
}

.skill-container:nth-child(odd) {
    background-color: chartreuse;
}

.skill-container {
    border-radius: 10px 10px 10px 10px;
    height: 1.7rem;
    width: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* EDUCATION SECTION  */
#education {
    position: relative;
    margin: auto;
    width: 80%;
}

.education-heading {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.education-heading span {
    margin: 2px;
}

.education-heading span svg {
    margin-bottom: 2px;
    height: 1.5rem;
    width: 1.5rem;
}

.education-blocks {
    position: relative;
}

.education-blocks div {
    position: relative;
    margin: 10px;
    width: 40%;
}

.education-blocks div:nth-child(even) {
    margin-left: 55%;
}

.education-blocks div:nth-child(odd) {
    text-align: right;
}

#year {
    font-weight: 550;
}

.timeline-divider {
    position: absolute;
    height: 85%;
    width: 0;
    border: 2px black dotted;
    top: 10%;
    left: 50%;
}

.timeline-divider span {
    margin: -12px;
    align-items: center;
}

.timeline-divider span svg {
    position: sticky;
    top: 15px;
}



/* CONNECT SECTION  */
/* @media only screen and (max-width: 600px) {
    #connect {
        flex-direction: column;
    }

    #social-list img {
        height: 20px;
        width: 20px;
    }

    .form-example {
        display: block;
        margin-bottom: 20px;
    }

    label,
    input {
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .form-example {
        display: table-row;
    }

    label,
    input {
        display: table-cell;
        width: auto;
    }
}

@media only screen and (min-width: 601px) {
    #connect {
        flex-direction: row;
    }
} */

#connect {
    height: auto;
    width: 100%;
    margin: 8px;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: #eff0f4;
    border-radius: 8px;
}


.form {
    margin-top: 30px;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10%;
}

label {
    padding-right: 10px;
}

#social-list {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #eff0f4;

}

#social-list li {
    margin: auto;
}

#social-list img {
    height: 80px;
    width: 80px;
}

#social-list li {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.8);
    transition: 1.5s;

}

.twitter {
    border-radius: 43% 57% 44% 56% / 40% 30% 70% 60%;
    background-color: aqua;
}

.linkdin {
    border-radius: 41% 59% 71% 29% / 33% 56% 44% 67%;
    background-color: #0077B5;

}

.instagram {
    border-radius: 52% 48% 71% 29% / 49% 56% 44% 51%;
    background-color: #E4405F;

}

.twitter:hover {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 10px 10px 2px 1px rgb(186, 177, 177);
}

.linkdin:hover {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 10px 10px 2px 1px rgb(186, 177, 177);
}

.instagram:hover {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 10px 10px 2px 1px rgb(186, 177, 177);
}
